.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 500px;
  width: 300px;
  background-color: #180f38;
  border-radius: 5%;
}

.chat-container {
  color: white;
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
}

.chat-inner-container {
  margin: 0 15px;
  width: 100%;
  height: 95%;
  background-color: #221a42;
  border-radius: 5%;
}

form {
  margin: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: #fc7c00;
  height: 100%;
  border-radius: 10%;
  margin-left: 20px;
  font-size: 1rem;
}

input {
  border-radius: 5%;
}

button:hover {
  background-color: #bb4500;
}

.input-container {
  height: 12%;
  color: white;
  border-top: 5px solid #fc7c00;
}

.message {
  margin: 10px;
  padding: 10px;
  background-color: #302655;
  border-radius: 5%;
  width: fit-content;
}
